@font-face {
   font-family: "TTLakesRegular";
   src: url("../fonts/TTLakes-Regular.eot"), url("../fonts/TTLakes-Regular.woff"), url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
   font-family: "TTLakesMedium";
   src: url("../fonts/TTLakes-Medium.eot"), url("../fonts/TTLakes-Medium.woff"), url("../fonts/TTLakes-Medium.ttf");
}
@font-face {
   font-family: "TTLakesBold";
   src: url("../fonts/TTLakes-Bold.eot"), url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.ttf");
}

.cocoon {
   max-width: 100%;
   min-height: 100%;
}
.container {
   padding: 0 16px;
   margin: 0 auto;
}
@media (min-width: 768px) {
   .container {
      padding: 0 24px;
   }
}
@media (min-width: 1120px) {
   .container {
      padding: 0 34px;
   }
}
.header {
   border-bottom: 1px solid #d9fff5;
}
@media (min-width: 1120px) {
   .header {
      position: relative;
      border: none;
   }
}
.header__nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-top: 19px;
   padding-bottom: 19px;
}
@media (min-width: 1120px) {
   .header__nav {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      padding-top: 0;
   }
}
@media (min-width: 768px) {
   .header__nav-link:first-child {
      margin-right: 20px;
   }
}
@media (min-width: 1120px) {
   .header__nav-link:first-child {
      margin-right: 0;
   }
}
@media (min-width: 340px) {
   .header__nav-link:last-child {
      margin-left: 16px;
   }
}
@media (min-width: 1120px) {
   .header__nav-link:last-child {
      margin-left: 0;
   }
}
@media (min-width: 768px) {
   .header__nav-link:nth-child(3),
   .header__nav-link:nth-child(4),
   .header__nav-link:nth-child(5) {
      margin-left: 16px;
   }
}
@media (min-width: 1120px) {
   .header__nav-link:nth-child(3),
   .header__nav-link:nth-child(4),
   .header__nav-link:nth-child(5) {
      margin-left: 0;
   }
}
@media (min-width: 768px) {
   .header__nav-link:nth-child(6) {
      margin-left: 42px;
   }
}
@media (min-width: 1120px) {
   .header__nav-link:nth-child(6) {
      margin-left: 0;
   }
}
@media (min-width: 1120px) {
   .header__nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      margin: 0 32px;
   }
   .header__nav-link span {
      font-family: TTLakesMedium, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: -0.2px;
      margin-top: 1px;
      color: #1b1c21;
   }
}
.header__nav-logo {
   width: 40%;
   position: relative;
}
@media (min-width: 340px) {
   .header__nav-logo {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-left: 17px;
   }
}
@media (min-width: 768px) {
   .header__nav-logo {
      margin-left: 21px;
   }
}
.link__background {
   width: 40px;
   height: 40px;
   position: relative;
   border-radius: 50%;
   background-color: #ff3e79;
}
@media (min-width: 1120px) {
   .link__background {
      margin-left: 8px;
   }
}
.link__background-line_one:after,
.link__background-line_one:before,
.link__background-line_two:after,
.link__background-line_two:before {
   content: "";
   width: 18px;
   height: 2px;
   position: absolute;
   left: 11px;
   top: 0;
   background-color: #fff;
}
.link__background-line_one:before {
   top: 12px;
}
.link__background-line_one:after {
   width: 10px;
   top: 19px;
}
.link__background-line_two:before {
   width: 0;
   height: 0;
}
.link__background-line_two:after {
   width: 14px;
   top: 26px;
}
.link__images {
   position: absolute;
   top: 10px;
   left: 12px;
}
.link__images-img {
   width: 100%;
}
.logo__letter {
   padding: 12px 0 0 10px;
}
.logo__letter-p {
   margin-left: 1px;
}
.logo__letter-s {
   margin-left: -3px;
}
.logo__image-down,
.logo__image-up {
   position: absolute;
}
.logo__image-down {
   top: 27px;
   left: -2px;
}
.logo__image-up {
   top: 2px;
   left: 35px;
}
.logo__image-img {
   width: 100%;
}
.block768 {
   display: none;
}
@media (min-width: 768px) {
   .block768 {
      display: block;
   }
}
@media (min-width: 1120px) {
   .block768 {
      display: none;
   }
}
.block1120 {
   display: none;
}
@media (min-width: 1120px) {
   .block1120 {
      display: block;
   }
}
@media (min-width: 1120px) {
   .none1120 {
      display: none;
   }
}
.left {
   left: 10px;
}
.after:after,
.before:before {
   content: "";
   width: 2px;
   height: 32px;
   position: absolute;
   left: -23px;
   top: 4px;
   border-right: 1px solid #eaeaea;
}
@media (min-width: 1120px) {
   .after:after,
   .before:before {
      width: 1px;
      height: 1px;
      visibility: hidden;
   }
}
.after:after {
   visibility: hidden;
}
@media (min-width: 768px) {
   .after:after {
      left: 58px;
      visibility: visible;
   }
}
@media (min-width: 340px) {
   .margin16 {
      margin-left: 16px;
   }
}
@media (min-width: 1120px) {
   .margin16 {
      margin-left: 0;
   }
}
.main {
   overflow-x: hidden;
}
@media (min-width: 768px) {
   .main {
      position: relative;
   }
}
@media (min-width: 1120px) {
   .main {
      overflow-x: visible;
   }
}
.main__title-line {
   width: 0;
   height: 40px;
   position: absolute;
   left: 0;
   border-left: 4px solid #41f6d7;
   border-top: 2px solid rgba(0, 0, 0, 0);
   border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.main__title {
   font-family: TTLakesBold, sans-serif;
   font-size: 0.88rem;
   font-weight: 700;
   line-height: 2.5rem;
}
.main__title-text {
   margin: 24px 0;
}
@media (min-width: 768px) {
   .main__title-text {
      margin: 24px 0 32px;
   }
}
@media (min-width: 1120px) {
   .main__title-text {
      margin: 42px 0 8px;
   }
}
.main__nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0;
   margin: 0 0 16px;
}
@media (min-width: 1120px) {
   .main__nav {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 0 11px;
   }
}
@media (min-width: 1197px) {
   .main__nav {
      margin: 0 0 16px;
   }
}
.main__nav-block {
   list-style-type: none;
}
@media (min-width: 1120px) {
   .main__nav-block:last-child {
      margin: 7px 0 0;
   }
}
@media (min-width: 1146px) {
   .main__nav-block:last-child {
      margin: 0;
   }
}
@media (min-width: 768px) {
   .main__text {
      height: 190px;
   }
}
@media (min-width: 768px) {
   .main__text-content {
      max-width: calc(312px + (37000vw - 284160px) / 352);
   }
}
@media (min-width: 1120px) {
   .main__text-content {
      max-width: calc(500px + (69000vw - 772800px) / 860);
   }
}
.main__text-content p {
   font-family: TTLakesRegular, sans-serif;
   font-weight: 400;
   font-size: 0.875rem;
   line-height: 1.125rem;
   letter-spacing: 0.2px;
   color: #1b1c21;
}
.main__image {
   clear: both;
}
@media (min-width: 768px) {
   .main__image {
      position: absolute;
      bottom: -15px;
      right: 40px;
   }
}
@media (min-width: 1120px) {
   .main__image {
      height: 125px;
      position: relative;
      bottom: 0;
      right: 28px;
   }
}
.main__image_img {
   width: 100%;
}
@media (min-width: 768px) {
   .main__image_img {
      width: 360px;
      height: 200px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 10px;
   }
}
@media (min-width: 1120px) {
   .main__image_img {
      width: 531px;
      height: 383px;
      position: absolute;
      bottom: -50px;
      right: 0;
   }
}
@media (min-width: 1146px) {
   .main__image_img {
      bottom: -65px;
   }
}
.block__link {
   text-decoration: none;
}
.block__link-outside {
   padding: 8px 17px;
}
.block__link-inside {
   font-family: TTLankesMedium, sans-serif;
   font-weight: 500;
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: -0.2px;
   white-space: nowrap;
   color: #7e7e82;
}
.next__link {
   text-decoration: none;
}
.link__arrow-down,
.link__arrow-up {
   width: 4px;
   height: 4px;
   margin-left: 10px;
   margin-top: 20px;
   border-right: 2px solid #41f6d7;
   border-bottom: 2px solid #41f6d7;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}
.link__arrow-down {
   float: left;
   margin: 0 16px 22px 10px;
}
.link__text {
   margin-top: -11px;
}
.link__text-inside {
   font-family: TTLakesMedium, sans-serif;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.5rem;
   letter-spacing: -0.2px;
   color: #1b1c21;
}
.borderLi {
   border: 2px solid #b8ffec;
   border-radius: 6px;
}
.aside {
   width: 320px;
   position: fixed;
   top: 0;
   left: 0;
   -webkit-box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
   box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
}
.aside__content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   min-height: 100vh;
}
.aside__nav {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.aside__nav-list {
   list-style: none;
   padding: 0;
   margin: 50px 0 0;
}
.aside__nav-list li {
   position: relative;
   margin-bottom: 32px;
}
.aside__nav-list li a {
   font-family: TTLakesMedium, sans-serif;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.5rem;
   letter-spacing: -0.2px;
   text-decoration: none;
   color: #1b1c21;
}
.aside__nav-list li a:hover {
   color: #7e7e82;
}
.aside__nav-list li:hover .height32 {
   visibility: visible;
}
.aside__contacts {
   -ms-flex-negative: 0;
   flex-shrink: 0;
}
.aside__contacts-icons {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 16px;
}
.aside__contacts-data {
   margin-bottom: 40px;
}
.aside__contacts-lang {
   margin-bottom: 32px;
}
.container {
   padding: 0 24px;
}
.link__background-line_cross:after,
.link__background-line_cross:before {
   content: "";
   width: 2px;
   height: 22px;
   position: absolute;
   top: 23%;
   left: 48%;
   background-color: #fff;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}
.link__background-line_cross:before {
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
.data__email {
   margin-bottom: 12px;
}
.data__email-link {
   font-family: TTLakesMedium, sans-serif;
   font-weight: 500;
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: -0.2px;
   text-decoration: none;
   color: #1b1c21;
}
.data__email-phone {
   font-family: TTLakesBold, sans-serif;
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 2rem;
   letter-spacing: -0.6px;
   text-decoration: none;
   color: #1b1c21;
}
.lang__ch,
.lang__en,
.lang__ru {
   font-family: TTLakesMedium, sans-serif;
   font-weight: 500;
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: -0.2px;
   text-decoration: none;
   color: #1b1c21;
}
.lang__ch:hover,
.lang__en:hover,
.lang__ru:hover {
   color: #7e7e82;
}
.height32 {
   position: absolute;
   top: -5px;
   left: -24px;
   visibility: hidden;
   height: 32px;
}
.left17 {
   margin-left: 17px;
}
@media (min-width: 768px) {
   .aside .right0 {
      margin-right: 0;
      margin-left: 0;
   }
}
.aside .flex-grow1 {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.aside .aside-margin16 {
   margin-left: 16px;
   margin-right: 0;
}
.aside .justify {
   padding-bottom: 8px;
}
@media (min-width: 1120px) {
   .aside .justify {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: static;
      padding-top: 19px;
   }
}
